<div *ngIf="saveError" class="save-error-banner">
  <mat-icon>warning</mat-icon>
  <span>{{ saveError }}</span>
</div>

<div class="workspace" [ngStyle]="{'background-image': 'url(' + currentBackground + ')'}">
  <app-workspace-header
    [tabs]="tabs"
    [activeTabId]="activeTabId"
    [isDirty]="isDirty"
    [isSaving]="isSaving"
    (tabSwitch)="switchTab($event)"
    (tabAdd)="addTab()"
    (tabRemove)="removeTab($event)"
    (tabRenameFinish)="renameTab($event)"
    (openBackground)="openBackgroundSelector()"
    (openWidgetSelector)="openWidgetSelector()"
    (save)="saveToServer()">
  </app-workspace-header>

  <!-- Render all widget containers with trackBy for improved performance -->
  <ng-container *ngFor="let widget of widgets; trackBy: trackByWidgetId">
    <app-widget-container
      [widgetData]="widget"
      (closeEvent)="removeWidget(widget.id)"
      (update)="saveWidgets()">
    </app-widget-container>
  </ng-container>
</div>