<div class="workspace" [ngStyle]="{'background-image': 'url(' + currentBackground + ')'}">
  <!-- Background switch buttons -->
  <button class="bg-switch-btn left" (click)="previousBackground()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button class="bg-switch-btn right" (click)="nextBackground()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <!-- Floating "Add Widget" button in the top right -->
  <button mat-fab color="primary" class="add-widget-btn" (click)="openWidgetSelector()">
    <mat-icon>add</mat-icon>
  </button>
  
  <!-- Render all widget containers -->
  <ng-container *ngFor="let widget of widgets">
    <app-widget-container
      [widgetData]="widget"
      (closeEvent)="removeWidget(widget.id)"
      (update)="saveWidgets()">
    </app-widget-container>
  </ng-container>
</div>
