<div class="workspace" [ngStyle]="{'background-image': 'url(' + currentBackground + ')'}">
  <!-- Vertical tabs bar on the left -->
  <div class="tabs-bar vertical">
    <div class="tabs-container">
      <div *ngFor="let tab of tabs; trackBy: trackByTabId" 
           class="tab" 
           [class.active]="tab.id === activeTabId"
           (click)="switchTab(tab.id)"
           [matTooltip]="tab.name">
        <!-- No text, just a simple block -->
        
        <!-- Remove button (only shown on hover if there's more than one tab) -->
        <button *ngIf="tabs.length > 1" 
                class="tab-close-btn" 
                (click)="removeTab(tab.id, $event)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    
    <!-- Add new tab button -->
    <button class="add-tab-btn" (click)="addTab()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  
  <!-- Background switch buttons -->
  <button class="bg-switch-btn left" (click)="previousBackground()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button class="bg-switch-btn right" (click)="nextBackground()">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <!-- Floating "Add Widget" button in the top right -->
  <button mat-fab color="primary" class="add-widget-btn" (click)="openWidgetSelector()">
    <mat-icon>add</mat-icon>
  </button>
  
  <!-- Render all widget containers with trackBy for improved performance -->
  <ng-container *ngFor="let widget of widgets; trackBy: trackByWidgetId">
    <app-widget-container
      [widgetData]="widget"
      (closeEvent)="removeWidget(widget.id)"
      (update)="saveWidgets()">
    </app-widget-container>
  </ng-container>
</div>