<div
  class="widget-container"
  cdkDrag
  [cdkDragFreeDragPosition]="{x: widgetData.position.x, y: widgetData.position.y}"
  (cdkDragEnded)="onDragEnd($event)"
  appResizable
  [resizableWidth]="widgetData.size.width"
  [resizableHeight]="widgetData.size.height"
  (resizeEnd)="onResizeEnd($event)">
  
  <!-- Header -->
  <div class="widget-header">
    <span class="title">{{ getTitle(widgetData.type) }}</span>
    <div class="controls">
      <button mat-icon-button (click)="openSettings($event)">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleMinimize($event)">
        <mat-icon>{{ widgetData.minimized ? 'unfold_more' : 'minimize' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleMaximize($event)">
        <mat-icon>{{ widgetData.maximized ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="close($event)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Content (if not minimized) -->
  <div class="widget-content" *ngIf="!widgetData.minimized">
    <ng-container [ngSwitch]="widgetData.type">
      <app-image-pdf-viewer *ngSwitchCase="'IMAGE_PDF'" [settings]="widgetData.settings"></app-image-pdf-viewer>
      <app-notepad *ngSwitchCase="'NOTEPAD'" [settings]="widgetData.settings"></app-notepad>
      <app-random-generator *ngSwitchCase="'RANDOM_GENERATOR'" [settings]="widgetData.settings"></app-random-generator>
      <app-dice-tool *ngSwitchCase="'DICE_TOOL'" [settings]="widgetData.settings"></app-dice-tool>
      <!-- Add more widget types here -->
    </ng-container>
  </div>
</div>
