<div
  class="widget-container"
  [class.maximized]="isMaximized"
  cdkDrag
  [cdkDragFreeDragPosition]="widgetData.position"
  (cdkDragEnded)="onDragEnd($event)"
  appResizable
  [resizableWidth]="widgetData.size.width"
  [resizableHeight]="widgetData.size.height"
  (resizeEnd)="onResizeEnd($event)">

  <!-- Header as drag handle -->
  <div class="widget-header" cdkDragHandle>
    <span class="title">{{ getTitle(widgetData.type) }}</span>
    <div class="controls">
      <button mat-icon-button (click)="toggleMaximize($event)">
        <mat-icon>{{ isMaximized ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="openSettings($event)" *ngIf="hasSettings">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="close($event)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Content -->
  <div class="widget-content">
    <ng-container [ngSwitch]="widgetData.type">
      <app-image-pdf-viewer *ngSwitchCase="'IMAGE_PDF'" [settings]="widgetData.settings" [widgetId]="widgetData.id" (settingsChange)="onSettingsChange()"></app-image-pdf-viewer>
      <app-notepad *ngSwitchCase="'NOTEPAD'" [settings]="widgetData.settings" #notepad></app-notepad>
      <app-random-generator *ngSwitchCase="'RANDOM_GENERATOR'" [settings]="widgetData.settings" (settingsChange)="onSettingsChange()"></app-random-generator>
      <app-dice-tool *ngSwitchCase="'DICE_TOOL'" [settings]="widgetData.settings"></app-dice-tool>
      <app-music-widget *ngSwitchCase="'MUSIC_WIDGET'" [settings]="widgetData.settings" [widgetId]="widgetData.id" (settingsChange)="onSettingsChange()"></app-music-widget>
      <app-wiki-widget *ngSwitchCase="'WIKI_WIDGET'" [settings]="widgetData.settings" (settingsChange)="onSettingsChange()"></app-wiki-widget>
      <app-combat-tracker *ngSwitchCase="'COMBAT_TRACKER'" [settings]="widgetData.settings"></app-combat-tracker>
      <app-daytime-tracker *ngSwitchCase="'DAYTIME_TRACKER'" [settings]="widgetData.settings" (settingsChange)="onSettingsChange()"></app-daytime-tracker>
      <app-llm-chat *ngSwitchCase="'LLM_CHAT'" [settings]="widgetData.settings"></app-llm-chat>
      <app-hex-map *ngSwitchCase="'HEX_MAP'" [settings]="widgetData.settings" (settingsChange)="onSettingsChange()"></app-hex-map>
      <app-name-generator *ngSwitchCase="'NAME_GENERATOR'" [settings]="widgetData.settings" (settingsChange)="onSettingsChange()"></app-name-generator>
      <app-countdown *ngSwitchCase="'COUNTDOWN_WIDGET'" [settings]="widgetData.settings" [widgetId]="widgetData.id"></app-countdown>
    </ng-container>
  </div>
</div>
